.navbar-brand {
    padding: 3px;
}

.main-nav .navbar-toggle {
  border: 0;
  background-color: rgba(0,0,0,.2);
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

.main-nav .navbar-toggle:hover,
.main-nav .navbar-toggle:focus {
  background-color: rgba(0,0,0,.5);
}

.main-nav .navbar-toggle .icon-bar {
  background-color: #fff;
}

.main-nav .navbar-collapse,
.main-nav .navbar-form {
  border: 0;
}

.navbar-collapse {
    padding-right: 0;
}

.no-jump {
    height: 80px;
}


#services {
    padding-top: 40px;
}

.twitter-info p{
    font-size: 16px;
}
.twitter-info i{
    font-size: 12px;
}
#twitter-carousel .carousel-indicators {
    top: 110%;
}







/***  Responsiveness  ***/
@media (max-width:480px) {
    .navbar-brand {
        padding: 0 0 0 15px;
    }
}

@media (max-width:400px) {
    .navbar-brand {
        padding-left: 0 0 0 15px;
    }
}

@media (max-width:385px) {
    .navbar-brand {
        padding-left: 0 0 0 15px;
}
}

@media (max-width:345px) {
    .navbar-brand {
        padding-left: 0 0 0 15px;
    }
}

@media (max-width:335px) {
    .navbar-brand {
        padding-left: 0 0 0 15px;
    }
}

@media (max-width:325px) {
    .navbar-brand {
        padding-left: 0 0 0 15px;
    }
}

@media (max-width:315px) {
    .navbar-brand {
        padding-left: 0 0 0 15px;
    }
}
